html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	background: #5CCCCC;
	color: black;
	text-align: center;
	font-family: sans-serif;
}
h1 {
	height: 38px;
	background-color: #009999;
	color: #006363;
	font-size: 2em;
	border-radius: 5px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.info {
	text-align: left;
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}
.quote {
	float: right;
	width: 40%;
	margin-right: 5%;
	margin-left: 5%;
}
h3 {
	height: 19px;
	background-color: #009999;
	color: #006363;
	font-size: 1em;
}
img {
	border: solid;
}
.contact {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}
.response {
	float: right;
	width: 40%;
	margin-right: 5%;
	margin-left: 5%;
}
input {
	width: 75%;
	min-width: 125px;
}
textarea {
	height: 100px;
	width: 75%;
	min-width: 125px;
}
li { 
	list-style-type: none;
	list-style-position: relative;
	margin-left: -25px;
}